<header class='page-header'>
  <h3>Progresso dos meus aprendizes</h3>
</header>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th></th>
      <th>Aprendiz</th>
      <th>Progresso: Questões concluídas</th>
      <th>Linha do tempo</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
