<div id='main-menu' class="span3">
  <aside>
        <div class="sidebar-nav">
          <ul id='side-menu' class="nav nav-tabs nav-stacked nav-fixed">
            <li>
                <a href="#dashboard" data-url='/dashboard' id='dashboard-link'>
                  <i class="icon-chevron-right"></i> Home
                </a>
            </li>
            <li>
                <a href="#shared-los" data-url='/shared-los' id='shared-los-link'>
                  <i class="icon-chevron-right"></i> Objetos de Aprendizagem
                </a>
            </li>
            <li>
                <a href="#my-los" data-url='/my-los' id='my-los-link'>
                  <i class="icon-chevron-right"></i> Meus Objetos de Aprendizagem
                </a>
            </li>
            <!-- <li><a href="#" data-url='/fractais' id='fractais-link'><i class="icon-chevron-right"></i> Fractais </a></li> -->
            <li>
              <a disabled="disabled"><i class="icon-chevron-right"></i> Turmas </a>
              <ul>
                <li>
                  <a href="#" data-url='/teams/created' id='created-link'>
                  <i class="icon-chevron-right"></i> Criadas por mim </a>
                </li>
                <li>
                  <a href="#" data-url='/teams/enrolled' id='enrolled-link'>
                  <i class="icon-chevron-right"></i> Que estou matriculado </a>
                </li>
              </ul>
             </li>

            <li>
              <a disabled="disabled" data-toggle="tooltip" data-placement="right" data-original-title="Retroação a erros e acertos nos objetos de aprendizagem" >
                <i class="icon-chevron-right"></i> Relatórios
              </a>
              <ul>
                <li>
                  <a href="#" data-url='/my-progress' id='my-progress-link'>
                  <i class="icon-chevron-right"></i> Meu Progresso </a>
                </li>
                <li>
                  <a href="#" data-url='/my-learners-progress' id='my-learners-progress-link'>
                  <i class="icon-chevron-right"></i> Progresso dos Meus Aprendizes </a>
                </li>
                <li>
                  <a href="#" data-url='/reports/my-learners' id='my-learners-link'>
                  <i class="icon-chevron-right"></i> Meus Aprendizes </a>
                </li>
                <li>
                  <a href="#" data-url='/my-oa-balancing' id='my-oa-balancing-link'>
                  <i class="icon-chevron-right"></i> Balanceamento do OA </a>
                </li>
              </ul>
            </li>

            <li>
              <a disabled="disabled" data-toggle="tooltip" data-placement="right" data-original-title="Retroação a erros e acertos nos objetos de aprendizagem" >
                <i class="icon-chevron-right"></i> Retroação
              </a>
              <ul>
                <li>
                  <a href="#" data-url='/answers/my' id='my-answers-link'>
                  <i class="icon-chevron-right"></i> Meus erros e acertos </a>
                </li>
                <li>
                  <a href="#" data-url='/answers/teams-enrolled' id='teams-enrolled-answers-link'>
                  <i class="icon-chevron-right"></i> Turmas que estou matriculado</a>
                </li>
                <li>
                  <a href="#" data-url='/answers/teams-created' id='teams-created-answers-link'>
                  <i class="icon-chevron-right"></i> Turmas que criei </a>
                </li>
              </ul>
            </li>

            <li><a href="#" data-url='/help' id='help-link' ><i class="icon-chevron-right"></i> Ajuda </a></li>
          </ul>
       </div>
  </aside>
</div>

<a href='#' class='toggle-menu' rel="tooltip" data-placement="right"
  data-original-title="Esconder menu" ><i class='icon-caret-left'></i></a>

<div id="main-container" class="span9">
   <div id="breadcrumb"></div>
   <div id="alert-msg"></div>
   <section id="content">
     <h1>Olá</h1>
     <p>Seja Bem-Vindo ao Sistema</p>
   </section>
</div>
