*.sw[onp]
*.tmproj
.DS_Store
.bundle
.ruby-gemset
.ruby-version
.rvmrc
.sass-cache/
/tmp
db/*.sqlite3
db/dump
doc/*.png
doc/*.svg
lib/tasks/test.rake
log/*.log
public/assets
public/ckeditor_assets/*
spec/data
tmp/
