<td>{{team.name}}</td>
<td>{{name}}</td>
<td>
  <div class="progress progress-success">
    <div class="bar" style="width: {{completeness}}%">
      {{completeness}}%
    </div>
  </div>
</td>
<td data-hide="true"><a href="#" class="timeline-link">Linha do tempo</a></td>
