<header class='page-header'>
  <h3>Meu progresso com os los</h3>
</header>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Turma</th>
      <th>Objeto de Aprendizagem</th>
      <th>Progresso: Questões concluídas</th>
      <th data-hide="true">Linha do tempo</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
