<div class="title">Minhas últimas respostas para esta questão. Total de <span class="amount"></span> respostas</div>
<table class='table table-bordered'>
  <thead>
    <tr>
      <th class="response">Resposta</th>
      <th class="correct">Correta</th>
      <th class="attempt_number">Tentativa</th>
      <th class="time">Data e Hora</th>
      <th class="comments_size" data-toggle="tooltip" data-placement="left" data-original-title="Quantidade de Comentários">C</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
