<div class='page-header'>
  <div class='row-fluid'>
    <div class='span12'>
        <h3>Objetos de Aprendizagem Compartilhados</h3>

        <div class="clearfix">
          <div class="pull-right">
            <form class="form-search" action="">
              <div class="input-append">
                <input type="text" class="input-xlarge search-query" name='search'>
                <button type="submit" class="btn">Buscar</button>
              </div>
            </form>
          </div>
        </div>

    </div>
  </div>
</div>
