<div class='page-header'>
   <div class='row-fluid'>
     <div class='span9'>
       <h3>Objetos de Aprendizagem</h3>
     </div>
     <div class='span3'>
        <a href='#' id='new_lo' ><i class="icon-plus-sign"></i> Criar Objeto de Aprendizagem </a>
     </div>
   </div>
</div>
