<h3>Detalhes da turma {{name}}</h3>

<h5>Objetos de aprendizagem cadastrados: </h5>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each los}}
    <tr>
      <td>
      {{name}}
      </td>
      <td>
        <a href='#' data-id="{{id}}" class="btn btn-small btn-primary calculates-calibration"
          rel="tooltip" data-original-title="Efetua os calculos para determinar a sequência ideal dos exercícios">
        Efetuar Calibragem</a>
      </td>
      <td>
        <a href='#' data-id="{{id}}" class="btn btn-small btn-primary calculates-progress"
          rel="tooltip" data-original-title="Efetua a atualização do progresso de todos os estudantes. Para turmas grandes esta ação pode ser demorada">
        Efetuar Atualização de Progresso </a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
