@import 'functions';

.answers-link:hover {
  background-color: rgba(221, 221, 221, 0.36);
  cursor: pointer;
}

#retroaction-modal {
  z-index: 1041;
  width: 98%;
  #height: 98%;
  top: 1%;
  margin: 0px 10px;
  left: 0;
  .modal-body {
    max-height: 75%;
    overflow: auto;
    position: relative;
    .border-focus {
      border-color: black;
      @include box-shadow(0px 0px 7px 2px rgba(0, 0, 0, 0.9));
    }
  }
  .modal-header {
    padding: 0px 15px;
    table {
      font-size: small;
      margin-top: 10px;
      margin-bottom: -8px;
      td, th {
        padding: 2px;
      }
    }
    h3 {margin:1px;}
  }
  .modal-footer {
    padding: 5px 15px 10px;
  }
}
