// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "functions";


@media screen and (max-width: 767px) {
  .question {
    .answer-group i {
       display: none;
    }
  }
}

.question-form .precision_group select { width: 50px;}
.question-form div.answer_group { 
  border: 1px solid rgba(128, 128, 128, 0.27);
  padding-left: 5px;
}

/******************************************************/
/*  Answers beside a question                        */
/******************************************************/
.question-answers {
  overflow-x: auto;
  background: white;
  font-size: 12px;
  margin-bottom: 15px;
  padding: 10px;
  @include box-shadow(0 5px 10px rgba(0, 0, 0, 0.2));
  @include border-radius(5px);

  .title {
    padding: 4px 10px;
    margin: 0 0 5px 0;
    font-weight: normal;
    line-height: 18px;
    background-color: #F7F7F7;
    border-bottom: 1px solid #EBEBEB;
    @include border-radius(5px);
  }

  table {
    width: 460px;
    font-size: 12px;

    .response, .correct, .attempt_number, .time, .comments_size {
      vertical-align: middle;
      text-align: center;
    }

    .response { width: 200px; }
    .correct { width: 45px; }
    .attempt_number { width: 55px }
    .time { width: 115px; }
    .comments_size {width: 21px}

    th,td { padding: 2px; }
    thead { display:block; left:0px; }
    tbody {
      display:block;
      max-height: 120px;
      overflow: auto;
      tr:hover {
        background-color: rgba(221, 221, 221, 0.36);
        cursor: pointer;
      }
    }
  }

//  table {
//    width: 100%;
//    min-width: 460px;
//    font-size: 12px;
//    th,td {padding: 2px;}
//    .response { width: 44.468546637744033%; /* 205 / 461 */; }
//    .correct { width: 9.761388286334056%; /* 45 / 461 */; text-align: center;}
//    .attempt_number { width: 11.496746203904555%; /* 53 / 461 */ text-align: center;}
//    .time { width: 26.03036876355748%; /* 120 / 461 */ }
//    .comments_size { width: 2.6030368763557483%; /* 12 / 461 */}
//  }
//
//  thead, tbody, tr, td, th { display: block; }
//
//  tr:after {
//    content: ' ';
//    display: block;
//    visibility: hidden;
//    clear: both;
//  }
//
//  thead {
//    border-bottom: 1px solid #EBEBEB;
//    th {
//      height: 25px;
//      /*text-align: left;*/
//    }
//  }
//
//  tbody {
//    max-height: 120px;
//    overflow-y: auto;
//    tr:hover {
//      background-color: rgba(221, 221, 221, 0.36);
//      cursor: pointer;
//    }
//  }
//
//  tbody td, thead th {
//    float: left;
//  }
}

/**********************************************/

.question {

  .answer-group {

    .answer, .answer-tip {
      background: white;
      min-height: 80px;
      font-size: 12px;
      margin-bottom: 15px;
      @include box-shadow(0 5px 10px rgba(0, 0, 0, 0.2));
    }

    .answer {
      border: 1px solid white;
      text-align: center;
      display: table;
      padding: 5px;
      cursor: pointer;

      div {
        height: 80px;
        display: table-cell;
        vertical-align: middle;
        width: 100%;
      }

      span.text-in-border-wrong, span.text-in-border-right,{
        position: absolute;
        background: white;
        margin-left: 14px;
        margin-top: -6px;
        padding: 0px 6px;
      }
      span.text-in-border-wrong {
        color: red;
      }
      span.text-in-border-right {
        color: green;
      }
    }

    .answer-tip {
      border: 1px solid red;
      @include border-radius(5px);

      .content {
        padding: 4px 10px;
      }

      .title {
        padding: 4px 10px;
        margin: 0;
        font-weight: normal;
        line-height: 18px;
        background-color: #F7F7F7;
        border-bottom: 1px solid #EBEBEB;
        @include border-radius($top:5px);
      }

      i.left-icon {
        font-size: 30px;
        color: red;
        position: relative;
        left: 14px;
        top: 30px;
        float: left;
        margin-left: -25px;
      }

      .tip-nav {
        padding: 0px 7px;
        a  i { font-size: 12px; }
      }
    }

    .right-answer {
      border: 2px solid green;
    }
    .wrong-answer {
      border: 2px solid red;
    }
  }

  .tips .separator-top {
    border-bottom: 1px solid rgba(175, 175, 175, 0.86);
    margin-bottom: 10px;
  }
}
