<hr />
<header>
   <h4>{{title}}</h4>
</header>

<p> {{safe content}} </p>

<div class='well'>
  <label for="answer">Resposta:</label>

  <div class="row-fluid">
    <div class="show-grid answer-group"></div>
    <div id="question-{{id}}-answers" class="span5"></div>
  </div>
</div>
