<header class='page-header clearfix'>
  <h3>Relatório dos meus aprendizes</h3>
  <span class="right"><a id="export_to_excel" href="#">Exportar para excel</a></span>
</header>
<div class="progress progress-success">
  <div class="bar" style="width: {{completeness}}%">
    {{completeness}}%
  </div>
</div>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Aprendiz</th>
      <th>Exercício</th>
      <th>Questão</th>
      <th>Resposta</th>
      <th>Correta?</th>
      <th>Tentativas</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
