<header>
  <div class='clearfix'>
    <div class='pull-left'>
      <h4>{{lo.name}}</h4>
    </div>
    <div class="pull-right">
      <a class='btn btn-small btn-primary share'> Compartilhar </a>
      <a class='btn btn-small btn-primary not-share'> Não Compartilhar </a>
    </div>
  </div>
</header>
<p>
  Solicitado em {{created_by}} por {{user.name}} - {{user.email}}
</p>
<hr>
