Olá <%= @request.user_from.name %>

<p>Sua solicitação de compartilhamento foi autorizada</p>

<p>Para visualizar o objeto de aprendizado, acesse a página de seus objetos de aprendizagem no farma.</p>

<p><%= link_to 'Meus Objetos de Aprendizagem', @url %></p>

Obrigado!
