<div class="clearfix reports_select_group ">
  <label class="control-label left" for="team">Turma: </label>
  <select class="inline" name="team">
    <option value="">Escolha uma turma</option>
    {{{options_selected teams }}}
  </select>

  <label class="control-label" for="lo">Objeto de Aprendizagem: </label>
  <select class="inline" name="lo">
    <option value="">Escolha um Objeto de Aprendiagem</option>
  </select>
</div>

<hr />

<section class="report">
</section>
