<header class='page-header'>
  <h3>Relatório de balanceamento</h3>
</header>
<table id="table-balancing-report" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th></th>
      <th>Questão</th>
      <th>Respostas recebidas</th>
      <th>Respostas corretas</th>
      <th>Respostas incorretas</th>
      <th>Grau de dificuldade</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
